<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
        customButtons: {
            loginButton: {
                text: 'Login',
                click: function() {
                    window.location.href = 'http://localhost:8080/login';
                }
            }
        },
        headerToolbar: {
            left: 'prev,next',
            center: 'title',
            right: 'loginButton',
          },
          weekends: false,
          initialView: 'timeGridWeek',
          slotMinTime: '07:30:00',
          slotMaxTime: '21:30:00',
          expandRows: true,
          editable: true,
          nowIndicator: true,
          firstDay: 1,
          allDaySlot: false,
          events: {
            url: '/events',
            type: 'GET',
            error: function() {
                alert('Wystąpił błąd podczas pobierania zajęć!');
            }
          },
          eventDrop: function(info) {
            var event = calendar.getEvent
            var startHours = new Date;
            var endHours = new Date;
            startHours.setTime(info.event.start);
            endHours.setTime(info.event.end);
            var startH = startHours.getHours();
            startH = ("0" + startH).slice(-2);
            var startM = startHours.getMinutes();
            startM = ("0" + startM).slice(-2);
            var endH = endHours.getHours();
            endH = ("0" + endH).slice(-2);
            var endM = endHours.getMinutes();
            endM = ("0" + endM).slice(-2);

            var eventData;
            eventData = {
                id: info.event.id,
                title: info.event.title,
                daysOfWeek: startHours.getDay(),
                description: info.event.extendedProps.description,
                startTime: startH + ":" + startM,
                endTime: endH + ":" + endM,
                color: info.event.backgroundColor
            }


            $.ajax({
                type: "POST",
                url: "/events",
                data: JSON.stringify(eventData),
                dataType: "json",
                contentType: "application/json"
            });
          },
          eventDidMount: function(info) {
            var target = info.el.getElementsByClassName('fc-event-title')[0];
            if (target === undefined) {
                return;
            }
            var div = document.createElement('div');
            div.innerHTML = '' + (!!info.event.extendedProps.description?info.event.extendedProps.description:' ') + '';
            target.parentNode.insertBefore(div.firstChild, target.nextSibling);
            info.el.setAttribute('data-event-id',info.event.id);
          }
        });
        calendar.render();
        calendar.setOption('locale', 'pl');
        calendar.setOption('aspectRatio', 2.2);
      });
    </script>
    <style>

	body {
		margin: 10px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}
    </style>
</head>
<body>
<div id='calendar'></div>
</body>
</html>