<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <title>Kalendarz akademicki</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous">
    </script>
    

    <script>
      if (!window.location.href.match('\\?sort=')) {
        setTimeout(function() {
          window.location.href = 'http://localhost:8080?sort=' + localStorage.getItem("sort") + '&sort=' + document.querySelector('input[name="chosenWeek"]:checked').value;
        }, 100)
      }

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
        customButtons: {
            loginButton: {
                text: 'Zaloguj',
                click: function() {
                    window.location.href = 'http://localhost:8080/login';
                }
            },
            next: {
              click: function() {
                changeWeek();
                removeEvents = calendar.getEventSources();
                removeEvents.forEach(event => {
                  event.remove(); 
                });

                calendar.addEventSource('/events/' + localStorage.getItem("sort") + '/' + localStorage.getItem("week"));
                calendar.next();
              }
            },
            prev: {
              click: function() {
                changeWeek();
                removeEvents = calendar.getEventSources();
                removeEvents.forEach(event => {
                  event.remove(); 
                });

                calendar.addEventSource('/events/' + localStorage.getItem("sort") + '/' + localStorage.getItem("week"));
                calendar.prev();
              }
            }
        },
        headerToolbar: {
            left: '',
            center: 'prev,next',
            right: 'loginButton',
          },
          weekends: false,
          weekNumbers: true,
          initialView: 'timeGridWeek',
          slotMinTime: '07:30:00',
          slotMaxTime: '21:30:00',
          expandRows: true,
          editable: false,
          nowIndicator: true,
          firstDay: 1,
          eventDurationEditable: false,
          allDaySlot: false,
          events: {
            url: '/events/' + localStorage.getItem("sort") + '/' + localStorage.getItem("week"),
            type: 'GET'
          },
          
          eventDidMount: function(info) {
            if (localStorage.getItem("consultationCheck") != "checked") {
              if (info.event.backgroundColor === "#D3D3D3") {
                calendar.getEventById(info.event.id).remove();
              }
            }

            var target = info.el.getElementsByClassName('fc-event-title')[0];
            if (target === undefined) {
                return;
            }
            var div1 = document.createElement('div1');
            var div2 = document.createElement('div2');
            var div3 = document.createElement('div3');
            var divBreak1 = document.createElement('divBreak1');
            var divBreak2 = document.createElement('divBreak2');
            div1.innerHTML = '' + (!!info.event.extendedProps.field?info.event.extendedProps.field:' ') + '';
            div2.innerHTML = '' + (!!info.event.extendedProps.weekType?info.event.extendedProps.weekType:' ') + '';
            div3.innerHTML = '' + (!!info.event.extendedProps.description?info.event.extendedProps.description:' ') + '';
            divBreak1.innerHTML = "<br>";
            divBreak2.innerHTML = "<br>";
            if ((localStorage.getItem("sort") == "W4")) {
              target.parentNode.insertBefore(div1.firstChild, target.nextSibling);
              target.parentNode.insertBefore(divBreak1.firstChild, target.nextSibling);
            }
            target.parentNode.insertBefore(div2.firstChild, target.nextSibling);
            target.parentNode.insertBefore(divBreak2.firstChild, target.nextSibling);
            target.parentNode.insertBefore(div3.firstChild, target.nextSibling);
            info.el.setAttribute('data-event-id',info.event.id);
          }
        });
        calendar.render();
        calendar.setOption('locale', 'pl');
        calendar.setOption('aspectRatio', 2.2);
      });


    </script>
</head>
<body>
    <div id='calendar'></div>

    <div class="consultations" id="sortingConsultations">
      <label>Konsultacje</label>
      <input type="checkbox" name="consultations">
    </div>

    <div class="sorting" id="sortingFields">
      <label>Sortowanie</label>
      <select id="sorting">
        <option value="W4">Plan wydziałowy</option>
        <option value="TIN">Teleinformatyka</option>
        <option value="TEL">Telekomunikacja</option>
        <option value="CBE">Cyberbezpieczeństwo</option>
        <option value="ITE">Informatyka techniczna</option>
        <option value="INA">Informatyka algorytmiczna</option>
        <option value="IST">Informatyka stosowana</option>
        <option value="INS">Inżynieria systemów</option>
      </select>
  </div>

  <div class="weekType" id="sortingWeek">
    <label class="labelWeekType">Wyświetlanie:</label>
    <input type="radio" name="chosenWeek" id="EW" value="EW"> Semestralny
    <input type="radio" name="chosenWeek" id="weekly" value="WEEKLY"> Tygodniowy
  </div>
    <script src="/js/sortEvent.js"></script>
</body>
</html>